.aluno-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.aluno-nome,
.aluno-usuario {
  margin: 0;
}

.aluno-trabalhos {
  width: 100%;
  border: 2px solid #ea5e2e;
  margin-top: 30px;
  box-sizing: border-box;
  padding: 30px;
}

.trabalho-aluno-container {
  border: 1px solid red;
  margin: 20px;
  box-sizing: border-box;
  padding: 30px;
}

.aluno-trabalhos h3 {
  margin: 0;
}

.status-trabalho {
  font-weight: bold;
}

.status-trabalho .entrege {
  color: green;
}

.status-trabalho .pendente {
  color: red;
}

.custom-file-label {
  border: 1px solid red;
}
